html {
  margin: 1em;
  font-family: sans-serif;
  background: #f4f1de;
}

h3 {
  font-style: oblique;
}

footer {
  margin-top: 2vh;
  border-top: 1px solid gray;
}

/*Layout*/
.grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1em;
}