.form {
  border: 1px solid green;
  width: 70vw;
  margin: 0 auto;
}

.form > * {
  display: block;
}

.form > * + * {
  margin: 0.5rem 0;
}

.required {
  color: red;
  /* font-size: smaller; */
}

[aria-invalid='true'] {
  box-shadow: 0 0 0 3px red;
}
